@import 'nib'
family = HelveticaNeue, Helvetica, Arial, Sans-Serif

body
  padding 50px
  font 14px/1.4 family
  color #424243

a
  color #00B7FF
  &:hover
    color #80E7FF

h1
  font-weight 900
  font-size 24px

.clearfix
  clearfix()